*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-brand{
    font-family: "Lobster", sans-serif;
    font-size: 2rem;
    color: black;
}
.navbar-brand:hover{
    color: black;
}
.nav-link{
    font-family: "Barlow Semi Condensed", sans-serif;
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    text-transform: uppercase;
}
.nav-link:hover{
    color: black;
}
.search{
    font-family: "Barlow Semi Condensed", sans-serif;
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    border: 2px solid rgb(8, 148, 230);
}
.btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background: rgb(8, 148, 230);
    color: white;
    font-weight: 700;
}
.Home{
    background: url(./tokoroti.jpg)no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: 50% 50%;
    width: 100%;
}
.Home h1{
    font-size: 4rem;
    font-weight: 700;
    font-family: "Barlow Semi Condensed", sans-serif;
}
.btn1{
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    font-weight: 700;
    border-radius: 60px;
}
.Produk{
    background: url(./tokoroti.jpg)no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: 50% 50%;
    width: 100%;
}
.Kontak{
    background: url(./tokoroti.jpg)no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: 50% 50%;
    width: 100%;
}